.header {
  background-color: #0c2961;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 10px 30px rgba(12, 41, 97, 0.3);

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
